.caixa__principal{
	text-align: center;
	background-color: white;
	width: 80%;
	margin: 0 10%;
	border-radius: 15px;
	height: 120%;
	box-shadow:  0 0 5px #282828;
	margin-bottom: 5%;
	grid-template-areas: 
	"primeiraCaixa";
	grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.primeiraCaixa{
    grid-area: primeiraCaixa;
    display: flex;
    align-items: center;
    padding: 0 2rem;	
    display: grid;
    height: 100%;
	grid-template-columns: 10% 40% 40% 10%;
	grid-template-rows: 20% 20% 40% 10% 10%;
}
div h3{
	color: grey;
	font-weight: normal;
}

.tituloCaixa{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	font-weight: bold;
	font-size: 30px;
	text-align: left;
}

.conteudoCaixa{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	text-align: left;
	line-height: 250%;
	margin-right: 15%;

}

.botaoCaixa{
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	text-align: left;
	margin-top: -15%;

}

.startRegister{
	border: 0;
	color: white;
	font-weight: bold;
	font-size: 15px;
	background: #f46632;
	border-radius: 10px;
	width: 60%;
	height: 40px;
}

.imagemCaixa{
	grid-column: 3 / 4;
	grid-row: 1 / 6;
}






.caixa__secundaria{
	text-align: center;
	background-color: white;
	width: 80%;
	margin: 0 10%;
	border-radius: 15px;
	height: 120%;
	box-shadow:  0 0 5px #282828;
	margin-bottom: 5%;
}